<confirmation-modal
  [isOpen]="isModalOpen"
  (acceptChanges)="onAcceptChanges()"
  (cancelChanges)="onCancelChanges()"
></confirmation-modal>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="estado">Estado</label>
    <select
      class="form-control"
      id="estado"
      name="estadp"
      [(ngModel)]="gesData.estado"
      required
    >
      <option value="offline">Desconectado</option>
      <option value="online">Conectado</option>
    </select>
  </div>

  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="disponible"
      name="disponible"
      [(ngModel)]="gesData.disponible"
    />
    <label class="form-check-label" for="disponible">Disponible</label>
  </div>

  <button type="submit" class="btn btn-primary">Guardar cambios</button>
  <button type="button" class="btn btn-danger" (click)="eliminar()">Eliminar Gestor</button>
</form>
